In [4]:
#question 1
'''1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
Ans : values - 'hello', -87.8, 6
      expression - *, -, /, +'''

"1. In the below elements which of them are values or an expression? eg:- values can be\ninteger or string and expressions will be mathematical operators.\nAns : values - 'hello', -87.8, 6\n      expression - *, -, /, +"

In [7]:
# Question 2
'''2. What is the difference between string and variable?
Ans : String : string in python represent in single quotation, double quotation  and for the multiple line we will use three quotation
like this 'rahul', "rahul",
""" a
b 
c 
"""
variable : use to storing data values like a = 7, a = "Hello Rahul!"'''

'2. What is the difference between string and variable?\nAns : String : string in python represent in single quotation, double quotation  and for the multiple line we will use three quotation\nlike this \'rahul\', "rahul",\n""" a\nb \nc \n"""\nvariable : use to storing data values like a = 7, a = "Hello Rahul!"'

In [8]:
# Question 3
'''3. Describe three different data types.
Ans. Strings : 'hello rahul', '45.76'
     Integers : 234, 9887
     Floats : 3.567
     booleans : True, False'''

"3. Describe three different data types.\nAns. Strings : 'hello rahul', '45.76'\n     Integers : 234, 9887\n     Floats : 3.567\n     booleans : True, False"

In [9]:
# 4. What is an expression made up of? What do all expressions do?
'''Ans. An expression is made of operators and operands and all expressions produce some other value.'''

'Ans. An expression is made of operators and operands and all expressions produce some other value.'

In [10]:
# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
'''Ans. An expression is something that can be reduced to a value, for example "1+3" is an expression and print(spam =10) is a statement'''

'Ans. An expression is something that can be reduced to a value, for example "1+3" is an expression and print(spam =10) is a statement'

In [13]:
#6. After running the following code, what does the variable bacon contain? bacon = 22 bacon + 1
'''Ans. 23'''

'Ans. 23'

In [16]:
# 7. What should the values of the following two terms be?
'''Ans. 'spam'+ 'spamspam' = spamspamspam
     'spam'* 3 = spamspamspam
'''

"Ans. 'spam'+ 'spamspam' = spamspamspam\n     'spam'* 3 = spamspamspam\n"

In [17]:
# 8. Why is eggs a valid variable name while 100 is invalid?
'''ans. Because variable names cannot begin with a number.'''

'ans. Because variable names cannot begin with a number.'

In [18]:
# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?
'''ans. for integer - int()
     for floating - float()
     for string - str()'''

'ans. for integer - int()\n     for floating - float()\n     for string - str()'

In [22]:
# 10. Why does this expression cause an error? How can you fix it? 'I have eaten ' + 99 +' burritos.'
'''ans. error is - TypeError: can only concatenate str (not "int") to str
    By converting 99 to string we can resolve it like this
    'I have eaten ' + '99' +' burritos.''''

SyntaxError: unterminated string literal (detected at line 4) (2498146570.py, line 4)